.ti-info-wrap {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 20px;
}

.ti-info-wrap > h1 {
  margin-bottom: 10px;
}

.ti-reservation-button {
  padding: 12px 16px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fbbf24;
  border: none;
  cursor: pointer;
}
.ti-reservation-button:hover {
  background-color: #f59e0b;
}

.ti-findroad-button {
  padding: 12px 16px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fbbf24;
  border: none;
  cursor: pointer;
}
.ti-findroad-button:hover {
  background-color: #f59e0b;
}
