<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr th:each="staff:${staffs}">
            <td th:text="${staff.staffid}"></td>
            <td th:text="${staff.staffname}"></td>
            <td th:text="${staff.dept}"></td>
            <td th:text="${staff.position}"></td>
            <td th:text="${staff.phone}"></td>
            <td th:text="${staff.email}"></td>
            <td th:text="${staff.theater}"></td>
            <td th:text="${staff.hiredate}"></td>
            <td th:text="${staff.hiredate}"></td>
            <td th:text="${staff.shifttype}"></td>
            <td th:text="${staff.role}"></td>
            <td th:text="${staff.status}"></td>
        </tr>
    </table>
</body>
</html>